:root {
    --background: #0f172a; 
    --background-menu: rgba(30, 41, 59, 0.7);
    --background-selected: rgba(14, 165, 233, 0.22); 
    --player-height: 200px;
}

@media (min-width: 470px) {
      :root {
        --player-height: 170px;
      }  
}