:root {
    --background: #1e293b; 
    --background-menu: #11182778;
    --background-selected: rgba(14, 165, 233, 0.22); 
    --player-height: 135px;
}

@media (min-width: 470px) {
      :root {
        --player-height: 170px;
      }  
}